<h1><%= @members.count %> Phoenix Members</h1>
<% @members.each do |member| %>
  <section class="members">
  <h2 class="name"><%= member.name %></h2>
  <ul>
    <% if member.role != nil %>
      <li class="role"><%= member.role %></li>
    <% end %>
    <li class="house"><%= member.house %></li>
    <% if member.patronus != nil %>
      <li class="patronus"><%= member.patronus %></li>
    <% end %>
  </ul>
  </section>
<% end %>
